/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 6:41:53 PM
    Author     : Victor
*/
ol#toc {
    height: 1em;
    list-style: none;
    margin: 0 150px 0 600px;
    padding: 2px;
    margin-top: 20px;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc a {
    background: white url(../assets/tabs.jpg);
    color: black;
    display: block;
    float: left;
    height: 2em;
    padding-left: 15px;
    text-decoration: none;
}

ol#toc a:hover {
    background-color: white;
    background-position: 0 -120px;
}

ol#toc a:hover span {
    background-position: 100% -120px;
}

ol#toc li.current a {
    background-color: white;
    background-position: 0 -60px;
    color: black;
    font-weight: bold;
}

ol#toc li.current span {
    background-position: 100% -60px;
}

ol#toc span {
    background: url(../assets/tabs.jpg) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 30px;
}

div.content {
    background-color: white;
    border: #48f solid 4px;
    clear: left;
    padding: 3em;
    width: 750px;
    margin: 0 150px 0 230px;
    padding: 20px 10px 20px 40px;
    margin-right: 40px;
   //white-space: nowrap;
    border: medium solid #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000099;
}
div.main_container {
  padding: 5px;
  margin: 5px;
}

.footer { font-size: .80em;
          text-align:center;
	  clear:both;
   	  color: black;
}	

body {
	background-color: #99ccff;
	//background-image: url(background.jpg);
}
#listbox { background-color: #99ccff; }
#leftColumn { 
        float:right;
	width:150px;
        height: 360px;
        margin-right: 80px;
         opacity: 0.6;
        background-color: orange;
}
#titleColor {
    background-color: orange;
    opacity: 0.6;
   // filter: alpha(opacity=60);

}
#lcHeader {
        text-align: center;
        text-decoration: underline;
}

#rightColumn{ 
        float: right;
        text-align: left;
}
#mainHeader {
    margin: 0 200px 0 240px;
    background-color: white; 
    height: 100px;
    width: 800px;
    background-color: #99ccff;
}
#loginForm {
    float: right;
    font-size: 13px;
}

#createLink {
    padding-left: 20px;
}
#signin {
    display: inline-block;
    margin-left: 5px;
    float: right;
}
#searchDB {
    float: right;
}

#rLabel {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

#signup {
    display: inline-block;
    margin-left: 5px;
    float: left;
}

